/* COMMON */

body {
    font-family: 'Inter', sans-serif;
    min-width: 320px;
}

.ms_padding {
    padding: 40px 0;
}

/* Common_Section_white */

.section_white h2, .section_white h3 {
    color: #031c4e;
    text-align: center;
}

.section_white p {
    color: #5c6a88;
}

/* Common_Section_grey */

.section_grey {
    background-color: #f3f5f9;
}

.section_grey h2 {
    color: #031c4e;
    text-align: center;
}

.section_grey h3 {
    color: #a1abbc;
    text-align: center;
}

.section_grey p {
    color: #586686
}

.section_grey a {
    color: #006aff;
}

/* Common Section Blue */

.section_blue {
    padding: 40px 0;
    background-color: #002aa5;
    color: #fefefe;
}

/* Common_ms_title */

.ms_title p {
    font-size: 20px;
}

.ms_title h2 {
    font-size: 35px;
}

/* Common_ul_li */

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-left: 15px;
}

ul li:first-child {
    margin-left: 0px;
}

ul li a {
    text-decoration: none;
    font-size: 15px;
}

/* Common_Slide */

.ms_slide span i {
    font-size: 40px;
}

.ms_slide span:first-child {
    color: #6f7b97;
}

@media (max-width: 767px) {
    .ms_slide span i {
        display: none;
    }
}

.ms_circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #006aff;
    display: inline-block;
}

.first_circle {
    background-color: #006aff;
}

/* HEADER */

header {
    padding: 20px 0;
}

header a {
    color: #031c4e;
}

header img {
    height: 25px;
    width: auto;
}

nav .btn_sign_up {
    border: 2px solid #006aff;
    color: #006aff;
}

.nav_center {
    line-height: 30px;
}

.ms_burger {
    font-size: 18px;
}

/* MAIN */

/* Jumbo */

main .ms_jumbo {
    background-image: url(../img/ms-jumbo.jpg);
    color: #fefefe;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.ms_jumbo p {
    font-size: 25px;
}

.jumbo_form {
    color: #031c4e;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 10px;
}

.jumbo_form h2, .jumbo_form a {
    font-size: 20px;
    font-weight: 700;
}

.jumbo_form a {
    color: #006aff;
}

.jumbo_form form {
    margin: 15px 0;
}

.jumbo_form button {
    font-size: 12px;
    position: relative;
    padding-bottom: 10px;
}

.jumbo_form button .btn-primary {
    color: #579aff;
}

.jumbo_form button .btn-default {
    color: #626262;
}

.jumbo_form button img {
    width: 14px;
    height: auto;
    position: absolute;
    left: 15px;
}

.jumbo_form .jumbo_terms p {
    font-size: 10px;
    margin-top: 10px;
}

.jumbo_form .jumbo_terms a {
    font-size: 10px;
    text-decoration: underline;
}

/* Customer */

.ms_customer .customer_title {
    text-transform: uppercase;
}

.ms_customer .customer_logo {
    padding: 20px 0;
}

.ms_customer .customer_logo img {
    max-width: 170px;
    height: auto;
}

@media (min-width: 768px) and (max-width: 992px) {
    .ms_customer .customer_logo img {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .ms_customer .customer_logo img {
        max-width: 700px;
        height: auto;
    }
}

/* Deployment */

.deployment_list ul li {
    display: block;
    margin-left: 0px;
    padding: 10px;
    border-left: 1px solid #969eb1;
}

.deployment_list ul li a {
    color: #969eb1;
}

.deployment_content {
    margin-top: 30px;
}

.one-click_deployment, .global_deployment {
    padding-top: 30px;
}

@media (max-width: 767px) {
    .cluster_deployment, .optimize_deployment {
        padding-top: 30px;
    }
}

/* Designed */

.ms_designed .ms_slide img {
    width: 80%;
    margin: 40px 20px 20px 20px;
}

/* Features */

.features_grid {
    padding: 30px 0;
}

@media (max-width: 767px) {
    .feature_center, .feature_right {
        padding-top: 30px;
    }
}

/* Region */

.region_inner {
    border-bottom: 1px solid white;
}

.region_inner h5 {
    color: #b8c6e9;
}

.region_inner a {
    color: #00d7d2;
    margin: 0;
    padding: 0;
}

.inner_title, .inner_middle, .inner_link {
    display: inline-block;
    width: calc ( 100% / 3);
}

.inner_title h4, .inner_middle h5 {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .grid_right {
        padding-top: 30px;
    }
}

.grid_left .region_inner:last-child, .grid_right .region_inner:last-child {
    border-bottom: none;
}

/* Development */

.ms_development .ms_title h2 {
    color: #031c4e;
    font-size: 50px;
}

.ms_slide span {
    vertical-align: middle;
}

.development_center {
    background-color: white;
    display: inline-block;
    padding: 60px 0;
    margin: 40px 20px 20px 20px;
    vertical-align: middle;
}

.development_center img {
    width: 75%;
    height: auto;
}

.development_center h4 {
    font-size: 30px;
    margin: 40px 20px;
    color: #5c6a88;
}

.development_center h5, .development_center h6, .development_center a {
    font-size: 20px;
}

.development_center h5 {
    color: #031c4e;
}

.development_center h6 {
    color: #32446c;
}

/* FOOTER */

footer{
    background-color: #031c4e;
    padding: 40px 0;
}